div{
    position: relative;
    float: left;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 30px;
    border:2px rgb(44, 42, 42);
}
.main{
   
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 800px;
    height: 1400px;
    border:2px rgb(44, 42, 42);
    
}

.logo{
    width: 200px;
    height: 200px;
    background: #2e2464;
    border:2px rgb(44, 42, 42);
}
.info{
    width: 600px;
    height: 200px;
    background: #b1126f;
    border:2px rgb(44, 42, 42);
}
.content{
    width: 800px;
    height: 1200px;
    background: #3ebecf;
    border:2px rgb(44, 42, 42);
}
.menu{
    width: 800px;
    height: 600px;
    background: #c1c429;
    border:2px rgb(44, 42, 42);
}
.products{
    width: 600px;
    height: 600px;
    background: #0568e9;
    border:rgb(44, 42, 42);

}
.post{
    width: 200px;
    height: 200px;
    background: #0e680b; 
    border:rgb(44, 42, 42);
}
.post2{
    width: 200px;
    height: 200px;
    background: #b0b30c; 
    border:rgb(44, 42, 42);
}
.posts{
    width: 200px;
    height: 600px;
    background: #ff7734;
    border:rgb(44, 42, 42);    
}
.stock{
    width: 800px;
    height: 200px;
    background: #5e9691;
    border:rgb(44, 42, 42); 
}
.logo2{
    width: 800px;
    height: 400px;
    background: #993088;
    border:rgb(44, 42, 42);
}
.menu1{
    width: 200px;
    height: 400px;
    background: #421a06;
    border:rgb(44, 42, 42); 
}
.menu2{
    width: 600px;
    height: 400px;
    background: #69a56e;
    border:rgb(44, 42, 42); 
}
.info{
    width: 600px;
    height: 200px;
    background: #ff7734; 
    border:rgb(44, 42, 42);
}