.container{
    display: flex;
    height: 90px;
    align-items: center;   
}
    .menu main{
        display: flex;
        height: 90px;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            border-left: 1px solid $gray;
            margin: 0;
            padding: 0;
            li{
                a {
                        font-size: 14px;
                        line-height: 16px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $white;
                        padding: 10px 15px 8px;
                        background-color: $darkgreen;
                        display: flex;
                        align-items: center;
                }
            }
        }
    }
