footer {
    width: 1920px;
    height: 655px;
    align-items: center;
    background: $black;
    color: $white;
}

.row-footer {
    padding: 70px 70px 120px 70px;
    display: flex;
    box-sizing: border-box;      
}

.footer-logo {
    width: 112px;
    height: 40px;
    margin-right: 206px;
    padding-top: 20px;
}

.company{
    margin-right: 206px;

    .row-company{
        top: 0;
        height: 320px;
        width: 167px;

        .company-title{
            width: 110%;
            margin-bottom: 50px;
        }

        .company-list{

            ul{
                
                padding: 0;
                list-style: none;

                li{
                    padding: 10px 0;

                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}

.services{
    margin-right: 350px;

    .row-services{
        height: 320px;
        width: 270px;

        .services-title{
            margin-bottom: 50px;
        }

        .services-list {
            width: 120%;

                ul {
                    padding: 0;
                    list-style: none;
        
                    li {
                        padding: 10px 0;
                        a {
                            color: $white;
                        }
                    }
                }
        }     
    }
}

.contact-info-liks1{  
        width: 344px;

    a{
        color: $white;
    }

    ul{
        list-style: none;
    }
}

.row-contact-logo{

    .contact-logo{
        
        ul{
            padding: 30px 0 0 0;
            display: flex;

            li{
                padding-right: 24px;
            }
        }
    }
}

.row-copyrigt{
    position: relative;
    height: 50px;
    border-top: 0.2px solid $white;
    
    .copyrigt{
        padding-top: 30px;
         
        p{
            text-align: center;
            text-transform: uppercase;
          
        }
    }
}


