$white: #FFFFFF;
$black: #000;
$red: #F6523C;
$gray: #DFDFDF;
$whitegray: #F5F5F5;



html, body {
    font-family: "mulish", "Regular" ;
    font-size: 20px;
}
h1{
    font-family: "mulish", "ExtraBold";
    font-size: 80px;
}
h2{
    font-family: "mulish", "SemiBold";
    font-size: 40px;
}
h3{
    font-family: "mulish", "Medium";
    font-size: 24px;

}
.size18 {
    font-family: "mulish", "Regular";
    font-size: 18px;
}

.size16 {
    font-family: "mulish", "Regular";
    font-size: 16px;
}
